* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.footers {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.hero-header {
    width: 100%;
    min-height: 100vh;
    background: #6C757D;
}

.wrapper {
    width:  1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding:  40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 4.5rem;
    width: 5rem;
    background-color: #212529;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    padding: 10px;
    margin-right: 5px;
    cursor:  pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 4rem;
    font-weight: bold;
    color: #212529;
    font-variant: small-caps;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #212529;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}

.navlinks a{
    font-size: 1.5rem;
    font-variant: small-caps
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #CED4DA;
    width: 100vw;
    height: 78vh;
    padding-right: 0;
    margin-right: 0;
}
.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    background-color: #DEE2E6;
    width: 100vw;
    padding-right: 0;
    margin-right: 0;
}
.container .hero-pic {
    width: 40vw;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
    border:  15px solid #ADB5BD;
    box-shadow: 5px 7px 25px rgba(86, 71, 141, 0.5);
}


.hero-pic img {
    height: 150%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5{
    color:  #495057;
    font-size: 2.7rem;
    font-variant: small-caps;
    padding-bottom: 2%;
}

.hero-text h5  span{
    color:  #212529;
    font-variant: small-caps;
    font-size: 5rem;
}

.hero-text h1{
    color:  #212529;
    font-variant: small-caps;
    font-size: 4.5rem;
}

.hero-text .p {
    color: #495057;
    font-size: 50px;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #6C757D;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn:hover {
    border-color: #495057;
}
.navlinks a:hover{
    color: #212529;
    font-size: 2rem;
}
.hero-text .social i{
    color: #212529;
    font-size: 3rem;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #6C757D;
    transform: rotate(360deg);
}

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button */
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}

@media(max-width:768px){
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text {
        padding: 40px 0px;
    }
}

.words {
    font-size: 2rem;
    font-weight: bold;
}